.blog-section {
  .container {
    padding: 20px 0;
    .head {
      padding: 40px 0;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      @media only screen and (max-width:992px){
        flex-direction: column;
      }
      h1 {
        font-weight: bold;
        &::before {
          display: block;
          content: "";
          background-color: #ffbb33;
          height: 2px;
          width: 120px;
          margin-bottom: 15px;
        }
      }
      p {
        width: 50%;
        opacity: 0.7;
        font-size: 14px;
        @media only screen and (max-width:992px){
          width: 80%;
        }
      }
    }
    .content {
      column-gap: 10px;
      display: flex;
      @media only screen and (max-width:992px){
        flex-direction: column;
      }
      .blog {
        padding: 20px;
        width: 500px;
        box-shadow: 1px 2px 20px #0000005d;
        @media only screen and (max-width:992px){
          width: 100%;
        }
        .image {
          overflow: hidden;
          height: 253px;
          img {
            width: 450px;

            transition: 0.6s;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
        h3 {
          color: #000;
          font-weight: bold;
          &:hover {
            color: #7a2c70;
          }
        }
        .fa-solid {
          color: #ffbb33;
        }
      }
      .blog-content {
        @media only screen and (max-width:992px){
          margin-top: 10px;
        }
        .blog-item {
          padding: 7px;
          flex-direction: row;
          box-shadow: 1px 2px 20px #0000005d;
          margin-bottom: 10px;
          @media only screen and (max-width:992px){
            flex-direction: column;
          }
          .small-image {
            overflow: hidden;
            height: 150px;
            margin-right: 10px;
            img {
              width: 200px;
              height: 150px;
              transition: 0.6s;
              &:hover {
                transform: scale(1.2);
              }
            }
          }
          h3 {
            font-size: 20px;
            color: #000;
            font-weight: bold;
            &:hover {
              color: #7a2c70;
            }
          }
          .fa-solid {
            color: #ffbb33;
          }
        }
      }
    }
  }
}
