header {
  background-image: url(/images/bg-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .header {
    background-color: #3d1737;
    padding: 10px 0;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        width: 200px;
      }
      nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
        .nav-list {
          display: flex;
          gap: 30px;
          margin: 0 !important;
          padding: 0 !important;
          li {
            a {
              color: #fff;
              &:hover {
                color: #ffbb33;
              }
            }
          }
        }

        .log {
          color: #fff;
          &:hover {
            color: #ffbb33;
          }
        }
        @media only screen and (max-width: 992px) {
          display: none;
          &.show {
            display: block;
            z-index: 99;
            .nav-list {
              text-align: start;
              width: 100%;
              background-color: #4e1f47;
              flex-direction: column;
              position: absolute;
              top: 90px;
              left: 0;
              li{
                padding-left: 25px;
                padding-bottom: 10px;
              }
              
            }
          }
        }
      }

      .fa-bars {
        display: none;
        @media only screen and (max-width: 762px) {
          display: block;
          color: #fff;
          font-size: 36px;
        }
      }
    }
  }

  .content {
    background-color: #3d1737ce;
    .container {
      display: flex;
      @media only screen and (max-width: 762px) {
        flex-direction: column;
      }
      .text {
        padding: 100px 0;
        width: 50%;
        @media only screen and (max-width: 762px) {
          width: 100%;
        }
        h1 {
          font-weight: bolder;
          font-size: 60px;
          color: #fff;
          @media only screen and (max-width: 762px) {
            font-size: 36px;
          }
          &::before {
            display: block;
            content: "";
            background-color: #ffbb33;
            width: 80px;
            height: 2px;
          }
          span {
            color: #ffbb33;
          }
        }
        p {
          padding: 0 !important;
          margin: 0 !important;
          color: #fff;
          font-size: 20px;
          letter-spacing: 3px;
        }
        .my-4 {
          .browse-job {
            color: #fff;
            letter-spacing: 1.3px;
            font-size: 18px;
            font-weight: bold;
            background-color: #ffbb33;
            padding: 9px 20px;
            border-radius: 6px;
            transition: 0.3s ease;
            transform: scale(1);
            border: none;
            &:hover {
              transform: scale(0.9);
              background-color: #db9d32;
            }
          }
        }
        .links {
          p {
            font-size: 14px;
          }
          .icons {
            display: flex;
            margin: 0 !important;
            padding: 0 !important;
            gap: 7px;
            margin-top: 10px !important;
            a {
              font-size: 14px;
              color: #fff;
              border: 1px solid transparent;
              padding: 5px 9px;
              background-color: #ffbb33;
              border-radius: 50%;
              &:hover {
                background-color: #3d1737;
                color: #ffbb33;
              }
            }
          }
        }
      }
      .image {
        background-image: url(/images/Circle-BG-3.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 80px 0 0;
        position: relative;
        @media only screen and (max-width: 762px) {
          display: none;
        }
        img {
          width: 420px;
          position: relative;
          top: 0;
          left: 70px;
        }
        .pics {
          border-radius: 50%;
          &.guy {
            position: absolute;
            top: 420px;
            left: 480px;
            width: 60px;
            height: 60px;
            border: 3px solid #ffbb33;
          }
          &.man {
            position: absolute;
            top: 200px;
            left: 100px;
            width: 50px;
            height: 50px;
            border: 3px solid #ffbb33;
          }
          &.redhead {
            width: 70px;
            height: 70px;
            border: 3px solid #4e1f47;
            position: absolute;
            left: 0;
            top: 470px;
          }
          &.woman {
            width: 80px;
            height: 80px;
            border: 3px solid #fff;
            position: absolute;
            top: 200px;
            left: 450px;
          }
        }
      }
    }
  }
}
