.search-section {
  z-index: 2;
  .container {
    justify-content: space-evenly;
    padding: 40px 0;
    color: #000;
    @media only screen and (max-width:992px){
      flex-direction: column-reverse;
    }
    .num {
      font-size: 40px;
      font-weight: bold;
    }
    .plus {
      position: relative;
      bottom: 30px;
      color: #ffbb33;
      font-size: 20px;
      font-weight: bold;
    }
    .topic {
      color: #462240;
      font-size: 24px;
      font-weight: 600;
    }
    #search {
      position: relative;
      bottom: 80px;
      left: 80px;
      border-radius: 10px;
      width: 550px;
      height: 350px;
      padding: 0 !important;
      background-image: url(/images/shot-of-a-group-of-businesspeople-using-a-laptop-w-YUBSH4F.jpg);
      background-position: center;
      background-size: cover;
      border: 10px solid white;
      @media only screen and (max-width:992px){
      left: 0;
      width: 90%;
      }

      .bg-purple{
        background-color: #462240c2;
        padding: 45px;
        @media only screen and (max-width:762px){
          padding: 34px;
        }
        select {
          background-color: transparent;
          color: #fff;
          option {
            color: #000;
          }
        }
        a {
          color: white;
          border-radius: 7px;
          padding: 10px 20px;
          background-color: #ffbb33;
          &:hover {
            background-color: #db9d32;
          }
        }
      }
     
    }
  }
}
