.meet-team {
  .container {
    h1::before {
      display: block;
      content: "";
      height: 2px;
      width: 90px;
      background-color: #ffbb33;
      margin-bottom: 10px;
    }
    .meet-head {
      width: 60%;
      opacity: 0.7;
      font-size: 14px;
      
    }
    .heading {
      @media only screen and (max-width: 762px) {
        flex-direction: column;
        .meet-head{
          width: 100%;
        }
      }
    }
    .row {
      column-gap: 20px;
      align-items: center;
      justify-content: center;
      .col {
        margin: 10px 0;
        padding: 10px;
        border: 1px solid #0000001c;
        width: 270px;
        border-radius: 10px;
        box-shadow: 1px 2px 15px #00000034;
        @media only screen and (max-width: 762px) {
          width: 80%;
        }
        img {
          width: 250px;
        }
        h2 {
          font-size: 26px;
          margin-top: 10px;
        }
        p {
          font-size: 14px;
          color: #6b2b63;
        }
        ul {
          padding: 0 !important;
          li {
            a {
              background-color: #ffbb33;
              color: white;
              padding: 8px 10px;
              border-radius: 50%;
              &:hover {
                background-color: #803a76;
                color: #ffbb33;
              }
            }
          }
        }
      }
    }
  }
}
