.vision-section {
  .row {
    .col-6 {
      background-image: url(/images/smiling-interracial-business-people.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding: 0 !important;
      color: #fff;
      h1 {
        &::before {
          margin-bottom: 30px;
          display: block;
          content: "";
          background-color: #ffbb33;
          width: 120px;
          height: 3px;
        }
        &.mission::before {
          margin-bottom: 30px;
          display: block;
          content: "";
          background-color: #55204e;
          width: 120px;
          height: 3px;
        }
      }
      p {
        font-size: 14px;
      }
      .purple {
        background-color: #55204e;
        padding: 30px;
      }
      .yellow {
        background-color: #ffbb33;
        padding: 30px;
      }
      .under-text {
        margin: 0 !important;
      }
    }
  }
}
