.work-section {
  padding: 60px 0;
  .container {
    h1::before {
      margin-bottom: 30px;
      display: block;
      content: "";
      background-color: #ffbb33;
      width: 120px;
      height: 3px;
      position: relative;
      left: 45%;
    }
    .row {
      gap: 20px;
      .col {
        width: 360px;
        box-shadow: 1px 2px 25px #00000041;
        @media only screen and (max-width: 992px) {
          width: 90%;
        }
        div {
          img {
            width: 80px;
          }
          p {
            font-size: 40px;
            color: #ffbb33;
            font-weight: bold;
          }
        }
        h3 {
          font-weight: bolder;
        }
        p {
          opacity: 0.8;
          font-size: 14px;
        }
      }
    }
  }
}
