* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background-image: url(/images/bg-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .header {
  background-color: #3d1737;
  padding: 10px 0;
}
header .header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header .container .logo {
  width: 200px;
}
header .header .container nav {
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
header .header .container nav .nav-list {
  display: flex;
  gap: 30px;
  margin: 0 !important;
  padding: 0 !important;
}
header .header .container nav .nav-list li a {
  color: #fff;
}
header .header .container nav .nav-list li a:hover {
  color: #ffbb33;
}
header .header .container nav .nav-list li .dropdown ul {
  background-color: #3d1737;
}
header .header .container nav .log {
  color: #fff;
}
header .header .container nav .log:hover {
  color: #ffbb33;
}
header .header .container nav .post-job {
  color: #fff;
  letter-spacing: 1.3px;
  font-size: 18px;
  font-weight: bold;
  background-color: #ffbb33;
  padding: 9px 20px;
  border-radius: 6px;
  transition: 0.3s ease;
  transform: scale(1);
}
header .header .container nav .post-job:hover {
  transform: scale(0.9);
  background-color: #db9d32;
}
header .content {
  background-color: rgba(61, 23, 55, 0.8078431373);
}
header .content .container {
  display: flex;
}
header .content .container .text {
  padding: 100px 0;
  width: 50%;
}
header .content .container .text h1 {
  font-weight: bolder;
  font-size: 60px;
  color: #fff;
}
header .content .container .text h1::before {
  display: block;
  content: "";
  background-color: #ffbb33;
  width: 80px;
  height: 2px;
}
header .content .container .text h1 span {
  color: #ffbb33;
}
header .content .container .text p {
  padding: 0 !important;
  margin: 0 !important;
  color: #fff;
  font-size: 20px;
  letter-spacing: 3px;
}
header .content .container .text .my-4 .browse-job {
  color: #fff;
  letter-spacing: 1.3px;
  font-size: 18px;
  font-weight: bold;
  background-color: #ffbb33;
  padding: 9px 20px;
  border-radius: 6px;
  transition: 0.3s ease;
  transform: scale(1);
  border: none;
}
header .content .container .text .my-4 .browse-job:hover {
  transform: scale(0.9);
  background-color: #db9d32;
}
header .content .container .text .links p {
  font-size: 14px;
}
header .content .container .text .links .icons {
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
  gap: 7px;
  margin-top: 10px !important;
}
header .content .container .text .links .icons a {
  font-size: 14px;
  color: #fff;
  border: 1px solid transparent;
  padding: 5px 9px;
  background-color: #ffbb33;
  border-radius: 50%;
}
header .content .container .text .links .icons a:hover {
  background-color: #3d1737;
  color: #ffbb33;
}
header .content .container .image {
  background-image: url(/images/Circle-BG-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 80px 0 0;
  position: relative;
}
header .content .container .image img {
  width: 420px;
  position: relative;
  top: 0;
  left: 70px;
}
header .content .container .image .pics {
  border-radius: 50%;
}
header .content .container .image .pics.guy {
  position: absolute;
  top: 420px;
  left: 480px;
  width: 60px;
  height: 60px;
  border: 3px solid #ffbb33;
}
header .content .container .image .pics.man {
  position: absolute;
  top: 200px;
  left: 100px;
  width: 50px;
  height: 50px;
  border: 3px solid #ffbb33;
}
header .content .container .image .pics.redhead {
  width: 70px;
  height: 70px;
  border: 3px solid #4e1f47;
  position: absolute;
  left: 0;
  top: 470px;
}
header .content .container .image .pics.woman {
  width: 80px;
  height: 80px;
  border: 3px solid #fff;
  position: absolute;
  top: 200px;
  left: 450px;
}

.counter {
  z-index: 2;
}
.counter .container {
  justify-content: space-evenly;
  padding: 40px 0;
  color: #000;
}
.counter .container .num {
  font-size: 40px;
  font-weight: bold;
}
.counter .container .plus {
  position: relative;
  bottom: 30px;
  color: #ffbb33;
  font-size: 20px;
  font-weight: bold;
}
.counter .container .topic {
  color: #462240;
  font-size: 24px;
  font-weight: 600;
}
.counter .container #search {
  position: relative;
  bottom: 80px;
  left: 80px;
  border-radius: 10px;
  width: 550px;
  height: 350px;
  padding: 0 !important;
  background-image: url(/images/shot-of-a-group-of-businesspeople-using-a-laptop-w-YUBSH4F.jpg);
  background-position: center;
  background-size: cover;
  border: 10px solid white;
}
.counter .container #search select {
  background-color: transparent;
  color: #fff;
}
.counter .container #search select option {
  color: #000;
}
.counter .container #search a {
  color: white;
  border-radius: 7px;
  padding: 10px 20px;
  background-color: #ffbb33;
}
.counter .container #search a:hover {
  background-color: #db9d32;
}

.job-list {
  padding: 30px 0 80px 0;
}
.job-list .container h1::before {
  margin-bottom: 30px;
  display: block;
  content: "";
  background-color: #ffbb33;
  width: 120px;
  height: 3px;
  position: relative;
  left: 45%;
}
.job-list .container .row {
  margin-top: 70px;
  align-items: center;
  justify-content: center;
}
.job-list .container .row .col {
  width: 300px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.368627451);
}
.job-list .container .row .col p {
  opacity: 0.6;
}
.job-list .container .row .col img {
  width: 70px;
}
.job-list .container .row .col .city {
  font-size: 15px;
}
.job-list .container .row .col .marka {
  font-size: 20px;
}
.job-list .container .row .col .add {
  border-radius: 7px;
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0.2549019608);
  font-size: 18px;
  color: #fff;
}
.job-list .container .row .col .add:hover {
  background-color: #55204e;
}
.job-list .container .row .col .detail {
  background-color: #ffbb33;
  padding: 15px 25px;
  border-radius: 6px;
  transition: 0.6s;
  border: none;
  color: #fff;
}
.job-list .container .row .col .detail:hover {
  transform: scale(0.9);
  background-color: #a87b21;
}
.job-list .container .row .col .fa-star,
.job-list .container .row .col .fa-star-half-stroke {
  color: #55204e;
}
.job-list .container .row .col .fa-dollar-sign {
  color: #ffbb33;
  font-size: 20px;
}
.job-list .container .row .col .fa-clock-rotate-left {
  color: #ffbb33;
}

.job-interview {
  background-image: url(/images/Circle-BG-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.0666666667);
  padding: 100px 0 0 0;
}
.job-interview .container .row .col h2 {
  font-size: 36px;
  font-weight: bold;
}
.job-interview .container .row .col h2::before {
  margin-bottom: 40px;
  display: block;
  content: "";
  background-color: #ffbb33;
  width: 120px;
  height: 3px;
}
.job-interview .container .row .col p {
  opacity: 0.8;
  font-size: 14px;
}
.job-interview .container .row .col .discover {
  background-color: #ffbb33;
  border: none;
  transition: 0.6s;
  color: #fff;
  padding: 15px 25px;
  border-radius: 10px;
  letter-spacing: 2px;
}
.job-interview .container .row .col .discover:hover {
  background-color: #c28e26;
  transform: scale(0.9);
}
.job-interview .container .row .col img {
  width: 500px;
  border-radius: 10px;
}
.job-interview .container .row .col .year {
  width: 40%;
  padding: 15px 18px;
  background-color: #fff;
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  bottom: 130px;
  left: 270px;
}
.job-interview .container .row .col .year .plus {
  color: #ffbb33;
  position: relative;
  bottom: 20px;
  font-size: 14px;
}
.job-interview .container .row .col .year .year-exp {
  font-weight: bolder;
  font-size: 16px;
}

.work-section {
  padding: 60px 0;
}
.work-section .container h1::before {
  margin-bottom: 30px;
  display: block;
  content: "";
  background-color: #ffbb33;
  width: 120px;
  height: 3px;
  position: relative;
  left: 45%;
}
.work-section .container .row {
  gap: 20px;
}
.work-section .container .row .col {
  width: 360px;
  box-shadow: 1px 2px 25px rgba(0, 0, 0, 0.2549019608);
}
.work-section .container .row .col div img {
  width: 80px;
}
.work-section .container .row .col div p {
  font-size: 40px;
  color: #ffbb33;
  font-weight: bold;
}
.work-section .container .row .col h3 {
  font-weight: bolder;
}
.work-section .container .row .col p {
  opacity: 0.8;
  font-size: 14px;
}

.newsletter {
  background-color: #462240;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px);
  }
}
.newsletter .container .slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.newsletter .container .slider::before, .newsletter .container .slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.newsletter .container .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.newsletter .container .slider::before {
  left: 0;
  top: 0;
}
.newsletter .container .slider .slide-track {
  animation: scroll 50s linear infinite;
  display: flex;
  width: 500px;
}
.newsletter .container .slider .slide {
  height: 100px;
  width: 250px;
}/*# sourceMappingURL=main.css.map */