* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background-image: url(/images/bg-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .header {
  background-color: #3d1737;
  padding: 10px 0;
}
header .header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header .container .logo {
  width: 200px;
}
header .header .container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
header .header .container nav .nav-list {
  display: flex;
  gap: 30px;
  margin: 0 !important;
  padding: 0 !important;
}
header .header .container nav .nav-list li a {
  color: #fff;
}
header .header .container nav .nav-list li a:hover {
  color: #ffbb33;
}
header .header .container nav .log {
  color: #fff;
}
header .header .container nav .log:hover {
  color: #ffbb33;
}
@media only screen and (max-width: 992px) {
  header .header .container nav {
    display: none;
  }
  header .header .container nav.show {
    display: block;
    z-index: 99;
  }
  header .header .container nav.show .nav-list {
    text-align: start;
    width: 100%;
    background-color: #4e1f47;
    flex-direction: column;
    position: absolute;
    top: 90px;
    left: 0;
  }
  header .header .container nav.show .nav-list li {
    padding-left: 25px;
    padding-bottom: 10px;
  }
}
header .header .container .fa-bars {
  display: none;
}
@media only screen and (max-width: 762px) {
  header .header .container .fa-bars {
    display: block;
    color: #fff;
    font-size: 36px;
  }
}
header .content {
  background-color: rgba(61, 23, 55, 0.8078431373);
}
header .content .container {
  display: flex;
}
@media only screen and (max-width: 762px) {
  header .content .container {
    flex-direction: column;
  }
}
header .content .container .text {
  padding: 100px 0;
  width: 50%;
}
@media only screen and (max-width: 762px) {
  header .content .container .text {
    width: 100%;
  }
}
header .content .container .text h1 {
  font-weight: bolder;
  font-size: 60px;
  color: #fff;
}
@media only screen and (max-width: 762px) {
  header .content .container .text h1 {
    font-size: 36px;
  }
}
header .content .container .text h1::before {
  display: block;
  content: "";
  background-color: #ffbb33;
  width: 80px;
  height: 2px;
}
header .content .container .text h1 span {
  color: #ffbb33;
}
header .content .container .text p {
  padding: 0 !important;
  margin: 0 !important;
  color: #fff;
  font-size: 20px;
  letter-spacing: 3px;
}
header .content .container .text .my-4 .browse-job {
  color: #fff;
  letter-spacing: 1.3px;
  font-size: 18px;
  font-weight: bold;
  background-color: #ffbb33;
  padding: 9px 20px;
  border-radius: 6px;
  transition: 0.3s ease;
  transform: scale(1);
  border: none;
}
header .content .container .text .my-4 .browse-job:hover {
  transform: scale(0.9);
  background-color: #db9d32;
}
header .content .container .text .links p {
  font-size: 14px;
}
header .content .container .text .links .icons {
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
  gap: 7px;
  margin-top: 10px !important;
}
header .content .container .text .links .icons a {
  font-size: 14px;
  color: #fff;
  border: 1px solid transparent;
  padding: 5px 9px;
  background-color: #ffbb33;
  border-radius: 50%;
}
header .content .container .text .links .icons a:hover {
  background-color: #3d1737;
  color: #ffbb33;
}
header .content .container .image {
  background-image: url(/images/Circle-BG-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 80px 0 0;
  position: relative;
}
@media only screen and (max-width: 762px) {
  header .content .container .image {
    display: none;
  }
}
header .content .container .image img {
  width: 420px;
  position: relative;
  top: 0;
  left: 70px;
}
header .content .container .image .pics {
  border-radius: 50%;
}
header .content .container .image .pics.guy {
  position: absolute;
  top: 420px;
  left: 480px;
  width: 60px;
  height: 60px;
  border: 3px solid #ffbb33;
}
header .content .container .image .pics.man {
  position: absolute;
  top: 200px;
  left: 100px;
  width: 50px;
  height: 50px;
  border: 3px solid #ffbb33;
}
header .content .container .image .pics.redhead {
  width: 70px;
  height: 70px;
  border: 3px solid #4e1f47;
  position: absolute;
  left: 0;
  top: 470px;
}
header .content .container .image .pics.woman {
  width: 80px;
  height: 80px;
  border: 3px solid #fff;
  position: absolute;
  top: 200px;
  left: 450px;
}

.search-section {
  z-index: 2;
}
.search-section .container {
  justify-content: space-evenly;
  padding: 40px 0;
  color: #000;
}
@media only screen and (max-width: 762px) {
  .search-section .container {
    flex-direction: column-reverse;
  }
}
.search-section .container .num {
  font-size: 40px;
  font-weight: bold;
}
.search-section .container .plus {
  position: relative;
  bottom: 30px;
  color: #ffbb33;
  font-size: 20px;
  font-weight: bold;
}
.search-section .container .topic {
  color: #462240;
  font-size: 24px;
  font-weight: 600;
}
.search-section .container #search {
  position: relative;
  bottom: 80px;
  left: 80px;
  border-radius: 10px;
  width: 550px;
  height: 350px;
  padding: 0 !important;
  background-image: url(/images/shot-of-a-group-of-businesspeople-using-a-laptop-w-YUBSH4F.jpg);
  background-position: center;
  background-size: cover;
  border: 10px solid white;
}
@media only screen and (max-width: 762px) {
  .search-section .container #search {
    left: 0;
    width: 420px;
  }
}
.search-section .container #search .bg-purple {
  background-color: rgba(70, 34, 64, 0.7607843137);
  padding: 45px;
}
@media only screen and (max-width: 762px) {
  .search-section .container #search .bg-purple {
    padding: 34px;
  }
}
.search-section .container #search .bg-purple select {
  background-color: transparent;
  color: #fff;
}
.search-section .container #search .bg-purple select option {
  color: #000;
}
.search-section .container #search .bg-purple a {
  color: white;
  border-radius: 7px;
  padding: 10px 20px;
  background-color: #ffbb33;
}
.search-section .container #search .bg-purple a:hover {
  background-color: #db9d32;
}

.job-list {
  padding: 30px 0 80px 0;
}
.job-list .container h1::before {
  margin-bottom: 30px;
  display: block;
  content: "";
  background-color: #ffbb33;
  width: 120px;
  height: 3px;
  position: relative;
  left: 45%;
}
.job-list .container .row {
  margin-top: 70px;
  align-items: center;
  justify-content: center;
}
.job-list .container .row .col {
  width: 300px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.368627451);
}
.job-list .container .row .col p {
  opacity: 0.6;
}
.job-list .container .row .col img {
  width: 70px;
}
.job-list .container .row .col .city {
  font-size: 15px;
}
.job-list .container .row .col .marka {
  font-size: 20px;
}
.job-list .container .row .col .add {
  border-radius: 7px;
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0.2549019608);
  font-size: 18px;
  color: #fff;
}
.job-list .container .row .col .add:hover {
  background-color: #55204e;
}
.job-list .container .row .col .detail {
  background-color: #ffbb33;
  padding: 15px 25px;
  border-radius: 6px;
  transition: 0.6s;
  border: none;
  color: #fff;
}
.job-list .container .row .col .detail:hover {
  transform: scale(0.9);
  background-color: #a87b21;
}
.job-list .container .row .col .fa-star,
.job-list .container .row .col .fa-star-half-stroke {
  color: #55204e;
}
.job-list .container .row .col .fa-dollar-sign {
  color: #ffbb33;
  font-size: 20px;
}
.job-list .container .row .col .fa-clock-rotate-left {
  color: #ffbb33;
}

.job-interview {
  background-image: url(/images/Paper-Texture-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.0666666667);
  padding: 100px 0 0 0;
}
@media only screen and (max-width: 762px) {
  .job-interview .container .row {
    flex-direction: column-reverse;
  }
}
.job-interview .container .row .col h2 {
  font-size: 36px;
  font-weight: bold;
}
.job-interview .container .row .col h2::before {
  margin-bottom: 40px;
  display: block;
  content: "";
  background-color: #ffbb33;
  width: 120px;
  height: 3px;
}
.job-interview .container .row .col p {
  opacity: 0.8;
  font-size: 14px;
}
.job-interview .container .row .col .discover {
  background-color: #ffbb33;
  border: none;
  transition: 0.6s;
  color: #fff;
  padding: 15px 25px;
  border-radius: 10px;
  letter-spacing: 2px;
}
.job-interview .container .row .col .discover:hover {
  background-color: #c28e26;
  transform: scale(0.9);
}
.job-interview .container .row .col img {
  width: 500px;
  border-radius: 10px;
}
.job-interview .container .row .col .year {
  width: 40%;
  padding: 15px 18px;
  background-color: #fff;
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  bottom: 130px;
  left: 270px;
}
.job-interview .container .row .col .year .plus {
  color: #ffbb33;
  position: relative;
  bottom: 20px;
  font-size: 14px;
}
.job-interview .container .row .col .year .year-exp {
  font-weight: bolder;
  font-size: 16px;
}

.work-section {
  padding: 60px 0;
}
.work-section .container h1::before {
  margin-bottom: 30px;
  display: block;
  content: "";
  background-color: #ffbb33;
  width: 120px;
  height: 3px;
  position: relative;
  left: 45%;
}
.work-section .container .row {
  gap: 20px;
}
.work-section .container .row .col {
  width: 360px;
  box-shadow: 1px 2px 25px rgba(0, 0, 0, 0.2549019608);
}
@media only screen and (max-width: 762px) {
  .work-section .container .row .col {
    width: 80%;
  }
}
.work-section .container .row .col div img {
  width: 80px;
}
.work-section .container .row .col div p {
  font-size: 40px;
  color: #ffbb33;
  font-weight: bold;
}
.work-section .container .row .col h3 {
  font-weight: bolder;
}
.work-section .container .row .col p {
  opacity: 0.8;
  font-size: 14px;
}

.logo-slider {
  background-color: #462240;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px);
  }
}
.logo-slider .container .slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.logo-slider .container .slider::before, .logo-slider .container .slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.logo-slider .container .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.logo-slider .container .slider::before {
  left: 0;
  top: 0;
}
.logo-slider .container .slider .slide-track {
  animation: scroll 50s linear infinite;
  display: flex;
  width: 500px;
}
.logo-slider .container .slider .slide {
  height: 100px;
  width: 250px;
}

.content .container h1 {
  color: #fff;
}
.content .container p {
  color: #fff;
}
.content .container p a {
  color: #ffbb33;
}
.content .container p a:hover {
  color: #7e3374;
}

.information-section {
  background-image: url(/images/Paper-Texture-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
}
.information-section .container .row {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.information-section .container .row .col {
  width: 350px;
  padding: 10px 30px 20px 30px;
  border-radius: 25px;
  border: 1px solid #000;
}
.information-section .container .row .col .fa-phone, .information-section .container .row .col .fa-location-dot, .information-section .container .row .col .fa-envelope {
  left: 20px;
  bottom: 40px;
  position: relative;
  font-size: 24px;
  border-radius: 10px;
  color: #ffbb33;
  padding: 25px 30px;
  background-color: #55204e;
}
.information-section .container .row .col h4 {
  font-weight: bolder;
}
.information-section .container .row .col a {
  color: #000;
}

.get-in-touch {
  padding: 70px 0;
}
.get-in-touch .container .row input {
  padding: 5px 7px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4509803922);
  margin: 7px 5px;
}
.get-in-touch .container .row input:hover {
  border-color: #ffbb33;
}
.get-in-touch .container .row textarea {
  padding: 5px 0 0 9px;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 7px;
}
.get-in-touch .container .row textarea:hover {
  border-color: #ffbb33;
}
.get-in-touch .container .row button {
  display: block;
  margin-left: 5px;
  background-color: #ffbb33;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  transition: 0.7s;
  color: #fff;
}
.get-in-touch .container .row button:hover {
  transform: scale(0.9);
  background-color: #ca952a;
}
.get-in-touch .container .row .col-6 .fa-check {
  color: #ffbb33;
}
.get-in-touch .container .row .col-6 p {
  opacity: 0.7;
}
.get-in-touch .container .row .col-6 .row span {
  opacity: 0.7;
}
.get-in-touch .container .row .col-6 .row ul {
  padding: 0 !important;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.get-in-touch .container .row .col-6 .row ul li a {
  border-radius: 10px;
  color: #fff;
  background-color: #ffbb33;
  padding: 10px 15px;
}

.comments {
  background-color: #ffbb33;
}
.comments .container {
  padding: 50px 0;
}
.comments .container .col-lg-4 {
  display: flex;
  justify-content: center;
}
.comments .container .col-lg-4 .card {
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  perspective: 500px;
  border: none;
  background-color: inherit;
}
.comments .container .col-lg-4 .card .face {
  position: absolute;
  color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.06);
  transform-style: preserve-3d;
  transition: 0.5s;
  backface-visibility: hidden;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  /* border-right: 1px solid #999;
    border-bottom: 1px solid #999; */
}
.comments .container .col-lg-4 .card .face.back-face {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.06);
  transform: rotateY(180deg);
  padding: 20px 30px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.comments .container .col-lg-4 .card .face.back-face .fa-quote-left {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 1.2rem;
}
.comments .container .col-lg-4 .card .face.back-face .fa-quote-right {
  position: absolute;
  bottom: 35px;
  right: 25px;
  font-size: 1.2rem;
}
.comments .container .col-lg-4 .card .face.front-face {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.comments .container .col-lg-4 .card .face.front-face .profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.comments .container .col-lg-4 .card .face.front-face .name {
  letter-spacing: 2px;
}
.comments .container .col-lg-4 .card .face.front-face .designation {
  font-size: 0.8rem;
  color: #ddd;
  letter-spacing: 0.8px;
}
.comments .container .col-lg-4 .card:hover .face.front-face {
  transform: rotateY(180deg);
}
.comments .container .col-lg-4 .card:hover .face.back-face {
  transform: rotateY(360deg);
}
@media (max-width: 991.5px) {
  .comments .container .col-lg-4 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.blog-section .container {
  padding: 20px 0;
}
.blog-section .container .head {
  padding: 40px 0;
}
.blog-section .container .head h1 {
  font-weight: bold;
}
.blog-section .container .head h1::before {
  display: block;
  content: "";
  background-color: #ffbb33;
  height: 2px;
  width: 120px;
  margin-bottom: 15px;
}
.blog-section .container .head p {
  width: 50%;
  opacity: 0.7;
  font-size: 14px;
}
.blog-section .container .content {
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.blog-section .container .content .blog {
  padding: 20px;
  width: 500px;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.3647058824);
}
.blog-section .container .content .blog .image {
  overflow: hidden;
  height: 253px;
}
.blog-section .container .content .blog .image img {
  width: 450px;
  transition: 0.6s;
}
.blog-section .container .content .blog .image img:hover {
  transform: scale(1.2);
}
.blog-section .container .content .blog h3 {
  color: #000;
  font-weight: bold;
}
.blog-section .container .content .blog h3:hover {
  color: #7a2c70;
}
.blog-section .container .content .blog .fa-solid {
  color: #ffbb33;
}
.blog-section .container .content .blog-content .blog-item {
  padding: 7px;
  flex-direction: row;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.3647058824);
  margin-bottom: 10px;
}
.blog-section .container .content .blog-content .blog-item .small-image {
  overflow: hidden;
  height: 150px;
  margin-right: 10px;
}
.blog-section .container .content .blog-content .blog-item .small-image img {
  width: 200px;
  height: 150px;
  transition: 0.6s;
}
.blog-section .container .content .blog-content .blog-item .small-image img:hover {
  transform: scale(1.2);
}
.blog-section .container .content .blog-content .blog-item h3 {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}
.blog-section .container .content .blog-content .blog-item h3:hover {
  color: #7a2c70;
}
.blog-section .container .content .blog-content .blog-item .fa-solid {
  color: #ffbb33;
}

.vision-section .row .col-6 {
  background-image: url(/images/smiling-interracial-business-people.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 !important;
  color: #fff;
}
.vision-section .row .col-6 h1::before {
  margin-bottom: 30px;
  display: block;
  content: "";
  background-color: #ffbb33;
  width: 120px;
  height: 3px;
}
.vision-section .row .col-6 h1.mission::before {
  margin-bottom: 30px;
  display: block;
  content: "";
  background-color: #55204e;
  width: 120px;
  height: 3px;
}
.vision-section .row .col-6 p {
  font-size: 14px;
}
.vision-section .row .col-6 .purple {
  background-color: #55204e;
  padding: 30px;
}
.vision-section .row .col-6 .yellow {
  background-color: #ffbb33;
  padding: 30px;
}
.vision-section .row .col-6 .under-text {
  margin: 0 !important;
}

.meet-team .container h1::before {
  display: block;
  content: "";
  height: 2px;
  width: 90px;
  background-color: #ffbb33;
  margin-bottom: 10px;
}
.meet-team .container .meet-head {
  width: 60%;
  opacity: 0.7;
  font-size: 14px;
}
@media only screen and (max-width: 762px) {
  .meet-team .container .heading {
    flex-direction: column;
  }
  .meet-team .container .heading .meet-head {
    width: 100%;
  }
}
.meet-team .container .row {
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  justify-content: center;
}
.meet-team .container .row .col {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1098039216);
  width: 270px;
  border-radius: 10px;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2039215686);
}
@media only screen and (max-width: 762px) {
  .meet-team .container .row .col {
    width: 80%;
  }
}
.meet-team .container .row .col img {
  width: 250px;
}
.meet-team .container .row .col h2 {
  font-size: 26px;
  margin-top: 10px;
}
.meet-team .container .row .col p {
  font-size: 14px;
  color: #6b2b63;
}
.meet-team .container .row .col ul {
  padding: 0 !important;
}
.meet-team .container .row .col ul li a {
  background-color: #ffbb33;
  color: white;
  padding: 8px 10px;
  border-radius: 50%;
}
.meet-team .container .row .col ul li a:hover {
  background-color: #803a76;
  color: #ffbb33;
}

.offers {
  background-color: #55204e;
}
.offers .container {
  align-items: center;
  justify-content: space-evenly;
  padding: 30px 0;
}
@media only screen and (max-width: 762px) {
  .offers .container {
    flex-direction: column;
  }
}
.offers .container .item {
  text-align: center;
  color: #fff;
}
.offers .container .item span {
  font-size: 48px;
  font-weight: bolder;
}
.offers .container .item p {
  font-size: 24px;
  color: #ffbb33;
}

.helps .container {
  padding: 30px 0;
}
.helps .container .help-head {
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0;
}
.helps .container .help-head h2 {
  font-size: 36px;
  font-weight: bold;
}
.helps .container .help-head p {
  width: 60%;
  font-size: 15px;
  opacity: 0.7;
}
@media only screen and (max-width: 762px) {
  .helps .container .help-head p {
    width: 100%;
  }
}
@media only screen and (max-width: 762px) {
  .helps .container .help-head {
    flex-direction: column;
    padding: 10px;
  }
}
.helps .container .row .card {
  width: 320px;
  padding: 15px 20px;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.2196078431);
}
@media only screen and (max-width: 762px) {
  .helps .container .row .card {
    width: 80%;
  }
}
.helps .container .row .card img {
  width: 70px;
}
.helps .container .row .card .job {
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}
.helps .container .row .card hr {
  color: #55204e;
}
.helps .container .row .card a {
  color: #55204e;
  transition: 0.5s;
  letter-spacing: 1px;
}
.helps .container .row .card a:hover {
  color: #ffbb33;
  transform: scale(0.9);
}

footer {
  background-color: #3d1737;
  padding: 40px 0;
  color: #fff;
}
footer img {
  width: 250px;
}
footer .col h3::before {
  display: block;
  content: "";
  background-color: #ffbb33;
  height: 2px;
  width: 25%;
  margin-bottom: 20px;
}
footer .col a {
  color: #fff;
}
footer .col a:hover {
  color: #ffbb33;
}
footer .col .fa-arrow-right {
  color: #ffbb33;
}
footer .col .icons {
  display: flex;
  padding: 0 !important;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
footer .col .icons a {
  border-radius: 50%;
  background-color: #ffbb33;
  padding: 5px 7px;
}
footer .col .icons a:hover {
  background-color: #3d1737;
  color: #ffbb33;
}
footer hr {
  color: #ffbb33;
}
@media only screen and (max-width: 762px) {
  footer .under {
    flex-direction: column;
  }
}
footer .under ul li:hover {
  color: #ffbb33;
}/*# sourceMappingURL=main.css.map */